#buttons-view
{
    background-color: lightgrey;
}
.topic
{
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 0.5%;
    color: white;    
    background-color:lightseagreen;
    border-radius: 30%;
    border: 0px solid transparent
    
    
}
#add-topic
{
    color: white;    
    background-color:lightseagreen;
    border-radius: 30%;
    border: 0px solid transparent;
    
}
.gifRow
{
    margin-top: 2%;
}



